body {
    background-color: #EAFDFC;
    margin: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #EAFDFC;
    position: relative;
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
}

.middle-container {
    position: relative;
    top: 30px;
}

.bottom-container {
    position: relative;
    top: 30px;
   
}

.nate {
    font-family: sacramento;
    font-size: 60px;
}

h1 {
    margin: 0px;
    width: 30%;
    margin: 0 auto 0;
}

.pro {
    text-decoration: underline;

}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {

    position: absolute;
    left: 300px;
    bott
}

.icon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.codinggif {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.webdevgif {
    width: 200px;
    height: 200px;
    border-radius: 50%
}